.hero {
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(90deg, #c8b6ff, #a891f5); */
  background-color: #c8b6ff;
  display: grid;
  column-gap: 6rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.container__main {
  align-self: flex-end;
  margin-left: 6rem;
  margin-bottom: 3rem;
}

.hero h1 {
  color: #fbff12;
  font-size: 3.6rem;
  font-weight: bold;
  transition: 0.3s;
  text-align: left;
}

.hero h3 {
  color: white;
  padding: 2rem 0;
  text-align: left;
}
.hero-form {
  grid-column: 1/-1;
  grid-row: 2/3;
  justify-self: center;
  padding-top: 3rem;
  border-top: 5px dotted #fbff12;
}

.hero-img {
  width: 28rem;
  grid-row: 1/1;
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
  margin-bottom: -5rem;
  animation: dog-walk 3s forwards;
}

@keyframes dog-walk {
  from {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(4rem);
  }
}

@media (max-width: 820px) {
  .hero {
    column-gap: 1rem;
    width: 95%;
    grid-template-columns: 500px 200px;
    grid-template-rows: 350px 350px;
    height: min-content;
  }

  .container__main {
    align-self: flex-end;
    margin-left: 3.5rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h3 {
    padding: 1.5rem 0;
    font-size: 1rem;
  }

  .hero-img {
    width: 20rem;
    align-self: flex-end;
    margin-bottom: 0;
    transform: translateX(-2rem);
  }

  .hero-form {
    margin-left: 8rem;
  }
}
