.search-pet__controls {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  text-align: left;
  justify-content: center;
  margin-bottom: 3rem;
}

.search-pet__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}

.search-pet__control input,
select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 25rem;
  max-width: 100%;
}

.search-pet__actions {
  display: flex;
  justify-content: center;
}
.search-pet__actions button {
  background: linear-gradient(90deg, #fbff12, #fdff7fef);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.5rem;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  transition: 0.3s;
}

.search-pet__actions button:hover {
  background: linear-gradient(90deg, #fbff12, #fcfdadef);

  letter-spacing: 1px;
  transition: 0.3s;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 820px) {
  .search-pet__controls {
    gap: 0.5rem;
  }
  .search-pet__control input,
  select {
    width: 15rem;
    max-width: 100%;
  }
}
