.hero {
  height: 100vh;
  width: 100vw;
  background-color: #c8b6ff;
  display: grid;
  column-gap: 6rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container__main {
  align-self: flex-end;
  margin-left: 6rem;
  margin-bottom: 3rem;
}

.hero h1 {
  color: #fbff12;
  font-size: 3.6rem;
  font-weight: bold;
  transition: 0.3s;
  text-align: left;
}

.hero h3 {
  color: white;
  padding: 2rem 0;
  text-align: left;
}
.hero-form {
  grid-column: 1/-1;
  grid-row: 2/3;
  justify-self: center;
  padding-top: 3rem;
  border-top: 5px dotted #fbff12;
}

.hero-img {
  width: 28rem;
  grid-row: 1/1;
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
  margin-bottom: -4.5rem;
  transform: translateX(3rem);
  transition: 3s;
}

.hero-img:hover {
  transform: translateX(-3rem);
  transition: 2s;
}
