.display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 11rem;
  padding-left: 7rem;
}

.display-title {
  margin-top: -5rem;
  margin-bottom: 4rem;
  text-align: center;
  color: #fbff12;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.display-card {
  width: 20rem;
  height: 30rem;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(90deg, #c1c40e, #fdff7fef);
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.3);
}

.display-card__img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.display-card__info {
  padding: 0.5rem 1rem;
}
.display-card__name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.display-card__breed {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.display-card__description {
  font-size: 0.8rem;
  line-height: 1.7;
}
