.form-submitted {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: left;
  margin-bottom: 2rem;
}

.search-pet__controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-pet__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}

.search-pet__control input,
select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 25rem;
  max-width: 100%;
}

.search-pet__actions button {
  background-color: #fbff12ef;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 6px;
  justify-items: center;
  margin: auto;
}

.search-pet__actions button:hover {
  background-color: #c8b6ff;
  color: #fbff12;
  transition: 0.3s;
}
